@font-face {
    font-family: DinCondensedBold;
    src: url(../fonts/din-condensed-bold.woff);
}
@font-face {
    font-family: MochaMattari;
    src: url(../fonts/MochaMattari.woff);
}

p {
  margin: 0;
  padding: 0;
}

body {
  background: url(../images/gnc-bg.jpg) no-repeat center center fixed #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}
header {
  background: #000;
  max-width: 1140px;
  margin: 0 auto;
  border-bottom: 5px solid #d71921;
  height: 59px;
  #main-logo{
    display: inline-block;
    position: relative;
    top: 15px;
    left: 30px;
  }
  #live-nation-logo {
    display: inline-block;
    position: relative;
    top: 10px;
    left: 45px;
  }
  #social-media {
    float: right;
    color: #fff;
    text-transform: uppercase;
    background: #d71921;
    font-family: MochaMattari;
    padding: 8px 13px;
    p {
      display: inline-block;
      margin: 0;
      font-size: 16px;
      position: relative;
      bottom: 8px;
      margin-right: 5px;
    }
    .facebook, .twitter{
      display: inline-block;
      position: relative;
      top: 5px;
    }
  }
}

#sweepstakes {
  font-size: 0;
  #sweepstakes-info {
    display: inline-block;
    width: 50%;
    font-size: initial;
    span {
      font-size: 67.84px;
      color: #d71921;
      font-family: DinCondensedBold;
      text-transform: uppercase;
      position: relative;
      left: 176px;
      bottom: 18px;
    }
    .banner {
      background: #d71921;
      color: #fff;
      font-size: 40px;
      font-family: DinCondensedBold;
      line-height: 34px;
      padding: 17.25px 0;
      position: relative;
      margin-left: -50px;
      padding-left: 50px;
      &:after {
        content: '';
        background: url(../images/banner-endcap.png) no-repeat;
        display: block;
        position: absolute;
        top: 0px;
        right: -50px;
        width: 61px;
        height: 103px;
      }
      &:before {
        content: '';
        background: url(../images/banner-infinity.png) no-repeat;
        display: block;
        position: absolute;
        display: block;
        position: absolute;
        top: 33px;
        right: 569px;
        width: 1112px;
        height: 103px;
        z-index: -1;
      }
    }
  }
  #sweepstakes-form {
    display: inline-block;
    width: 41%;
    float: right;
    font-size: initial;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    background: rgba(255, 255, 255, 0.95);
    padding: 2%;
    .field {
      display: inline-block;
      width: 49%;
      label,select,input {
        display: block;
      }

    }
  }
}
