@font-face {
    font-family: DinCondensedBold;
    src: url(../fonts/din-condensed-bold.woff);
}
@font-face {
    font-family: MochaMattari;
    src: url(../fonts/MochaMattari.woff);
}

p {
  margin: 0;
  padding: 0;
}
a {
  color: #d71921;
}
html, body {
  height: 100%;
  margin: 0;
}
body {
  background: url(../images/gnc-bg.jpg) no-repeat center top fixed #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}
header {
  background: #000;
  max-width: 1140px;
  margin: 0 auto;
  border-bottom: 5px solid #d71921;
  height: 59px;
  margin-bottom: 40px;
  #main-logo{
    display: inline-block;
    position: relative;
    top: 15px;
    left: 30px;
  }
  #live-nation-logo {
    display: inline-block;
    position: relative;
    top: 10px;
    left: 45px;
  }
  #social-media {
    float: right;
    color: #fff;
    text-transform: uppercase;
    background: #d71921;
    font-family: MochaMattari;
    padding: 8px 13px;
    p {
      display: inline-block;
      margin: 0;
      font-size: 16px;
      position: relative;
      bottom: 8px;
      margin-right: 5px;
    }
    .facebook, .twitter{
      display: inline-block;
      position: relative;
      top: 5px;
    }
  }
}

#sweepstakes {
  font-size: 0;
  #sweepstakes-info {
    display: inline-block;
    width: 50%;
    font-size: initial;
    span {
      font-size: 67.84px;
      color: #d71921;
      font-family: DinCondensedBold;
      text-transform: uppercase;
      position: relative;
      left: 176px;
      bottom: 18px;
      @media (min-width: 914px) and (max-width: 1200px) {
        left: 0;
      }
    }
    @media (max-width: 1200px) {
      display: block;
      width: 90%;
      margin: 0 auto;
    }
    @media (max-width: 560px) {
      img {
        width: 100%;
        height: auto;
      }
      span {
        left: 0;
        top: 0;
      }
    }

    .banner {
      background: #d71921;
      color: #fff;
      font-size: 40px;
      font-family: DinCondensedBold;
      line-height: 34px;
      padding: 17.25px 0;
      position: relative;
      margin-left: -50px;
      padding-left: 50px;
      @media (max-width: 650px) {
        font-size: 27px;
      }
      &:after {
        content: '';
        background: url(../images/banner-endcap.png) no-repeat;
        display: block;
        position: absolute;
        top: 0px;
        right: -50px;
        width: 61px;
        height: 103px;
        @media (max-width: 560px) {
          display: none;
        }
      }
      &:before {
        content: '';
        background: url(../images/banner-infinity.png) no-repeat;
        display: block;
        position: absolute;
        display: block;
        position: absolute;
        top: 34px;
        right: 586px;
        width: 1112px;
        height: 103px;
        z-index: -1;
        @media (max-width: 1200px) {
          display: none;
        }
      }
    }
    #prize {
      font-family: DinCondensedBold;
      font-size: 40px;
      margin-top: 20px;
      min-height: 300px;
      text-shadow: 1px 1px #fff;
      @media (max-width: 1200px) {
        min-height: auto;
      }
      ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        li {
          font-size: 32px;
          position: relative;
          margin-bottom: 10px;
          padding-left: 50px;
          &:before {
            background: url(../images/li-icons.png) no-repeat;
            content: '';
            position: absolute;
            left: 0px;
            top: -4px;
            display: block;
            width: 50px;
            height: 39px;
          }
          &.ticket {
            &:before {
              background-position: 0 -13px;
            }
          }
          &.plane {
            &:before {
              background-position: 0 -57px;
            }
          }
          &.money {
            &:before {
              background-position: 0 -104px;
            }
          }
        }
      }
    }
  }
  #sweepstakes-form {
    display: inline-block;
    width: 41%;
    float: right;
    font-size: initial;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    background: rgba(255, 255, 255, 0.95);
    padding: 2%;
    @media (max-width: 1200px) {
      display: block;
      width: 90%;
      margin: 0 auto;
      float: none;
      margin-top: 40px;
    }
    .field {
      margin-bottom: 20px;
      display: inline-block;
      width: 49%;
      label,select,input {
        display: block;
      }
      label {
        font-family: DinCondensedBold;
        font-size: 18px;
        text-transform: uppercase;
      }
      input, select {
        border: 1px solid #000;
        background: #f1f1f3;
        font-size: 18px;
        width: 94%;
        height: 45px;
        padding: 0 2%;

      }
      select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0;
        height: 49px;
        width: 98%;
      }
      &.phone-num {
        label {
          float: left;
        }
        span {
          float: left;
          font-size: 10px;
          margin-left: 2px;
          line-height: 16px;
        }
        input {
          clear: both;
          display: inline-block;
          width: 22%;
        }
      }
      &.checkbox-options {
        display: block;
        width: 100%;
        .field {
          width: 100%;
          input {
            height: auto;
          }
        }
        #checkBox {
          display: inline-block;
          width: auto;
        }
        span {
          display: inline-block;
        }
      }
    }
    #metro-area {
      position: relative;
      &:after {
        content: ' ';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 12px 7.5px 0 7.5px;
        border-color: #d71921 transparent transparent transparent;
        position: absolute;
        right: 12%;
        top: 41px;
        z-index: 10;
        pointer-events: none;
      }
    }
  }
}

.clear {
  clear: both;
}

footer {
  font-size: 11px;
  color: #8c8e90;
  @media (max-width: 1200px) {
    display: block;
    width: 94%;
    margin: 0 auto;
    margin-top: 40px;
  }
  p {
    margin-bottom: 10px;
  }
  a {
    color: #d71921;
  }
}
